# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\student114\TestCodeCamp_Programme\Submissions\SeleniumWebdriverTests\SinglePage_Tasks\Facebook\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
