# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Raheem\TestCodeCamp_Programme\Submission\SeleniumWebdriverTests\PageObjectModel_Task\OrengeHRM_POM\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
